.banner {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    width: 100wh;
    background-image: url("../img/Chicago.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.banner>h1 {
    padding: 1.5em 1.5em;
    font-size: 3.5em;
    color: rgb(247, 247, 247);
}