@import "./header.css";
@import "./footer.css";
@import "./card.css";
@import "./banner.css";

body {
    background-color: rgb(247, 247, 247);
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

body {
    margin:0;
}

body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

a {
    color: #1e3dae;
    text-decoration: none;
    text-decoration-style: solid;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: Abril Fatface,Open Sans,sans-serif;
}

.caption {
    margin-top: 1.5em;
    padding-left: 3.5em;
}

.blog {
    margin-top: 3.5em;
    padding-left: 3.5em;
}

main {
    grid-area: main;
}

@media (max-width: 330px) {
    .card-container {
        margin: 0;
        padding: 0;
        width: 90%;
    }

    .banner>h1 {
        font-size: 2em;
    }

    .card {
        width: 250px;
    }

    .card-image img {
        width: 200px;
        height: 200px;
    }

    .caption {
        margin-top: 1em;
        padding-left: 1.5em;
    }
}

@media (min-width: 331px) and (max-width: 480px) {
    .caption {
        margin-top: 1em;
        padding-left: 1.5em;
    }

    .card-container {
        margin: 0;
        padding: 0;
        width: 90%;
    }
}